doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Wilson Colors - Donnez des couleurs à Wilson !
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Wilson Color !')
    meta(name='twitter:description', content='Colore ton Wilson')
    meta(name='twitter:image', content=twitterImage)
  body
    a(href='/')
      h1.shiny WILSON-COLORS
    #app
    .footer
      | Made with ♥ by
      a(href='https://www.eleven-labs.com') Eleven-Labs
  script(src='bundle.js')
